In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
memi171x_df = pd.read_csv("dataset/memi171x.csv", header=0)
memi172_df = pd.read_csv("dataset/memi172.csv", header=0)
memi173_df = pd.read_csv("dataset/memi173.csv", header=0)
memi174_df = pd.read_csv("dataset/memi174.csv", header=0)

In [3]:
fmli171x_df = pd.read_csv("dataset/fmli171x.csv", header=0)
fmli172_df = pd.read_csv("dataset/fmli172.csv", header=0)
fmli173_df = pd.read_csv("dataset/fmli173.csv", header=0)
fmli174_df = pd.read_csv("dataset/fmli174.csv", header=0)

In [4]:
df_171x = memi171x_df.groupby(['NEWID']).count()['AGE'].reset_index()
df_172 = memi172_df.groupby(['NEWID']).count()['AGE'].reset_index()
df_173 = memi173_df.groupby(['NEWID']).count()['AGE'].reset_index()
df_174 = memi174_df.groupby(['NEWID']).count()['AGE'].reset_index()

df_1_2 = df_171x.join(df_172, how='inner', on='NEWID', rsuffix='_other')
print("df_1_2:",df_1_2.shape)

df_2_3 = df_172.join(df_173, how='inner', on='NEWID', rsuffix='_other')
print("df_2_3:",df_2_3.shape)

df_3_4 = df_173.join(df_174, how='inner', on='NEWID', rsuffix='_other')
print("df_3_4:",df_3_4.shape)

df_1_2: (0, 4)
df_2_3: (0, 4)
df_3_4: (0, 4)

In [5]:
df_171x_mem = memi171x_df.groupby(['NEWID']).count()['AGE'].reset_index()
df_171x_fml = fmli171x_df.groupby(['NEWID']).count()['AGE2'].reset_index()

df_171x_mem_fml = df_171x_mem.join(df_171x_fml, how='inner', on='NEWID', rsuffix='_other')
print("df_171x_mem_fml:", df_171x_mem_fml.shape)

df_171x_mem_fml: (0, 4)

In [6]:
df_172_mem = memi172_df.groupby(['NEWID']).count()['AGE'].reset_index()
df_172_fml = fmli172_df.groupby(['NEWID']).count()['AGE2'].reset_index()

df_172_mem_fml = df_172_mem.join(df_172_fml, how='inner', on='NEWID', rsuffix='_other')
print("df_172_mem_fml:", df_172_mem_fml.shape)

df_172_mem_fml: (0, 4)

In [7]:
newid_list = set(memi171x_df['NEWID'].unique())
print(len(newid_list))

6208

In [8]:
mem_list = list(memi171x_df['NEWID'].unique())\
           +list(memi172_df['NEWID'].unique())\
           +list(memi173_df['NEWID'].unique())\
           +list(memi174_df['NEWID'].unique())
print(len(mem_list))

24479

In [9]:
fml_list = list(fmli171x_df['NEWID'].unique())\
           +list(fmli172_df['NEWID'].unique())\
           +list(fmli173_df['NEWID'].unique())\
           +list(fmli174_df['NEWID'].unique())
print(len(fml_list))

24479

In [10]:
join_list = set(mem_list) & set(fml_list)
print(len(join_list))

24479

In [11]:
#get the columns not in memi171x_df 
set(memi172_df.columns) - set(memi171x_df.columns)

{'TRANAMTX', 'TRANDAYX', 'TRANPD', 'TRANPD_', 'TRAN_AYX', 'TRAN_MTX'}

In [12]:
#remove the 6 columns from all member dataframe
memi172_df = memi172_df.drop(columns=['TRANAMTX', 'TRANDAYX', 'TRANPD', 'TRANPD_', 'TRAN_AYX', 'TRAN_MTX'])
memi173_df = memi173_df.drop(columns=['TRANAMTX', 'TRANDAYX', 'TRANPD', 'TRANPD_', 'TRAN_AYX', 'TRAN_MTX'])
memi174_df = memi174_df.drop(columns=['TRANAMTX', 'TRANDAYX', 'TRANPD', 'TRANPD_', 'TRAN_AYX', 'TRAN_MTX'])
print(set(memi172_df.columns) - set(memi171x_df.columns))
print(set(memi173_df.columns) - set(memi171x_df.columns))
print(set(memi174_df.columns) - set(memi171x_df.columns))

set()
set()
set()

In [13]:
memi_full= pd.concat([memi171x_df, memi172_df, memi173_df, memi174_df])
print(memi_full.shape)

(59474, 181)

memi_full.groupby("NEWID").apply() 
        select NEWID, 
            sum(CASE WHEN salaryx_ = 'D' THEN Coalesce(salaryx, 0) ELSE 0 END), sum(CASE WHEN semp_rmx = 'D' THEN Coalesce(sempfrmx, 0) ELSE 0 END), 
            sum(CASE WHEN socrrx_ = 'D' THEN Coalesce(socrrx, 0)  ELSE 0 END), sum(CASE WHEN ssix_ = 'D' THEN Coalesce(ssix, 0) ELSE 0 END)
        From REC.MEMI group by NEWID;

In [14]:
#all SALARYX_
memi_full[(memi_full['SALARYX_']=='D')].shape

(18885, 181)

In [15]:
#only "D" is valid 'SALARYX_". set invalid 'SALARYX' to 0, 
memi_full.loc[memi_full['SALARYX_'] != "D", "SALARYX"] = 0
#validate the assignment
print(memi_full[(memi_full['SALARYX_']!='D') & (memi_full['SALARYX'])>0][['SALARYX_', 'SALARYX']])

#only "D" is valid 'SEMP_RMX". set invalid 'SEMPFRMX' to 0, 
memi_full.loc[memi_full['SEMP_RMX'] != "D", "SEMPFRMX"] = 0
#validate the assignment
print(memi_full[(memi_full['SEMP_RMX']!='D') & (memi_full['SEMPFRMX'])>0][['SEMP_RMX', 'SEMPFRMX']])


#only "D" is valid 'SOCRRX_". set invalid 'SOCRRX' to 0, 
memi_full.loc[memi_full['SOCRRX_'] != "D", "SOCRRX"] = 0
#validate the assignment
print(memi_full[(memi_full['SOCRRX_']!='D') & (memi_full['SOCRRX'])>0][['SOCRRX_', 'SOCRRX']])

#only "D" is valid 'SSIX_". set invalid 'SSIX' to 0, 
memi_full.loc[memi_full['SSIX_'] != "D", "SSIX"] = 0
#validate the assignment
print(memi_full[(memi_full['SSIX_']!='D') & (memi_full['SSIX'])>0][['SSIX_', 'SSIX']])

Empty DataFrame
Columns: [SALARYX_, SALARYX]
Index: []
Empty DataFrame
Columns: [SEMP_RMX, SEMPFRMX]
Index: []
Empty DataFrame
Columns: [SOCRRX_, SOCRRX]
Index: []
Empty DataFrame
Columns: [SSIX_, SSIX]
Index: []

In [16]:
# each NEWID, aggregated 4 income sources.
memi_full.groupby("NEWID").agg({'SALARYX':'sum', 'SEMPFRMX':'sum',  'SOCRRX':'sum', 'SSIX':'sum'} )

          SALARYX  SEMPFRMX   SOCRRX  SSIX
NEWID
3386764       0.0       0.0      0.0   0.0
3386774   16000.0       0.0  11916.0   0.0
3386804   65000.0       0.0      0.0   0.0
3386874       0.0       0.0      0.0   0.0
3386884       0.0       0.0  30768.0   0.0
...           ...       ...      ...   ...
3808361   40000.0       0.0  23256.0   0.0
3808371   35000.0       0.0      0.0   0.0
3808381  164000.0       0.0      0.0   0.0
3808391   89000.0       0.0  13608.0   0.0
3808411       0.0       0.0  21744.0   0.0

[24479 rows x 4 columns]

In [17]:
print(fmli171x_df.shape)
print(fmli172_df.shape)
print(fmli173_df.shape)
print(fmli174_df.shape)

(6208, 808)
(6177, 828)
(6090, 828)
(6004, 828)

In [18]:
fml_cols_remove = list(set(fmli172_df.columns) - set(fmli171x_df.columns))
print(fml_cols_remove)

['IRAYR_', 'STDNTYR_', 'SOLA_PNL', 'CREDYR_', 'LIQUDYR_', 'STOCKYR', 'CREDYR', 'STDNTYR', 'FSTAXOWE', 'LIQUID', 'OTHSTYR_', 'FFTAXOWE', 'WHLFYR', 'STOCKYR_', 'WHLFYR_', 'OTHLNYR', 'OTHSTYR', 'LIQUDYR', 'IRA_', 'IRA', 'SOLARPNL', 'OTHLNYR_', 'LIQUID_', 'IRAYR']

In [19]:
#remove the 6 columns from all member dataframe
fmli172_df = fmli172_df.drop(columns=fml_cols_remove)
fmli173_df = fmli173_df.drop(columns=fml_cols_remove)
fmli174_df = fmli174_df.drop(columns=fml_cols_remove)
print(set(fmli172_df.columns) - set(fmli171x_df.columns))
print(set(fmli173_df.columns) - set(fmli171x_df.columns))
print(set(fmli174_df.columns) - set(fmli171x_df.columns))

set()
set()
set()

In [20]:
fmli_full= pd.concat([fmli171x_df, fmli172_df, fmli173_df, fmli174_df])
print(fmli_full.shape)

(24479, 808)

In [21]:
def processMortgage(row):
    total = 0
    
    if row.MRTINTCQ >0:
        total +=row.MRTINTCQ
    else:
        total +=row.MRTINTPQ
        
    if row.RNTXRPCQ >0:
        total +=row.RNTXRPCQ
    else:
        total +=row.RNTXRPPQ
        
    if row.PROPTXCQ >0:
        total +=row.PROPTXCQ
    else:
        total +=row.PROPTXPQ
   
    return total*4

fmli_full['Mortgage_Rent_Property_Tax'] = fmli_full.apply(processMortgage, axis=1)

In [22]:
fmli_mortgage = fmli_full[['NEWID', 'MRTINTCQ', 'MRTINTPQ', 'RNTXRPCQ', 'RNTXRPPQ', 'PROPTXCQ', 'PROPTXPQ', 'Mortgage_Rent_Property_Tax']]
fmli_mortgage.head(5)

,NEWID,MRTINTCQ,MRTINTPQ,RNTXRPCQ,RNTXRPPQ,PROPTXCQ,PROPTXPQ,Mortgage_Rent_Property_Tax
0,3386764,0.0,0.0,0.0,1510.0,0.0,0.0,6040.0
1,3386774,0.0,0.0,0.0,1689.0,0.0,0.0,6756.0
2,3386804,0.0,0.0,0.0,3300.0,0.0,0.0,13200.0
3,3386874,0.0,6717.0,0.0,0.0,0.0,350.0,28268.0
4,3386884,0.0,394.0,0.0,0.0,0.0,750.0,4576.0

In [23]:
def processHouseholdFurnishing(row):
    if row.HOUSEQCQ >0:
        return row.HOUSEQCQ*4
    else:
        return row.HOUSEQPQ*4
    
fmli_full['Household_Furnishings_Equipment'] = fmli_full.apply(processHouseholdFurnishing, axis=1)

def processHouseholdOps(row):
    if row.HOUSOPCQ >0:
        return row.HOUSOPCQ*4
    else:
        return row.HOUSOPPQ*4
    
fmli_full['Household_Operations'] = fmli_full.apply(processHouseholdOps, axis=1)


def processUtilities(row):
    if row.UTILCQ >0:
        return row.UTILCQ*4
    else:
        return row.UTILPQ*4
    
fmli_full['Utilities'] = fmli_full.apply(processUtilities, axis=1)

In [24]:
def processVehiclePurchases(row):
    total = 0
    
    if row.CARTKNCQ >0:
        total +=row.CARTKNCQ
    else:
        total +=row.CARTKNPQ
        
    if row.CARTKUCQ >0:
        total +=row.CARTKUCQ
    else:
        total +=row.CARTKUPQ
        
    if row.OTHVEHCQ >0:
        total +=row.OTHVEHCQ
    else:
        total +=row.OTHVEHPQ
   
    return total*4

fmli_full['Vehicle_Purchases'] = fmli_full.apply(processVehiclePurchases, axis=1)

In [25]:
 def processGas(row):
    if row.GASMOCQ >0:
        return row.GASMOCQ*4
    else:
        return row.GASMOPQ*4
    
fmli_full['Gasoline_Other_fuels_motor_oil'] = fmli_full.apply(processGas, axis=1)

def processVehicleExpenses(row):
    total = 0
    
    if row.VEHFINCQ >0:
        total +=row.VEHFINCQ
    else:
        total +=row.VEHFINPQ
        
    if row.MAINRPCQ >0:
        total +=row.MAINRPCQ
    else:
        total +=row.MAINRPPQ
        
    if row.VEHINSCQ >0:
        total +=row.VEHINSCQ
    else:
        total +=row.VEHINSPQ

    if row.VRNTLOCQ >0:
        total +=row.VRNTLOCQ
    else:
        total +=row.VRNTLOPQ
   
    return total*4

fmli_full['Other_vehicle_expenses'] = fmli_full.apply(processVehicleExpenses, axis=1)

In [27]:
def processPublicTransportation(row):
    if row.PUBTRACQ >0:
        return row.PUBTRACQ*4
    else:
        return row.PUBTRAPQ*4
    
fmli_full['Public_other_transportation'] = fmli_full.apply(processPublicTransportation, axis=1)

def processHealthInsurance(row):
    if row.HLTHINCQ >0:
        return row.HLTHINCQ*4
    else:
        return row.HLTHINPQ*4
    
fmli_full['Health_Insurance'] = fmli_full.apply(processHealthInsurance, axis=1)

def processMedicalServices(row):
    if row.MEDSRVCQ >0:
        return row.MEDSRVCQ*4
    else:
        return row.MEDSRVPQ*4
    
fmli_full['Medical_Services'] = fmli_full.apply(processMedicalServices, axis=1)

def processPersonalInsurance(row):
    if row.LIFINSCQ >0:
        return row.LIFINSCQ*4
    else:
        return row.LIFINSPQ*4
fmli_full['Personal_Insurance'] = fmli_full.apply(processPersonalInsurance, axis=1)

    
def processMedicalSupplies(row):
    if row.MEDSUPCQ >0:
        return row.MEDSUPCQ*4
    else:
        return row.MEDSUPPQ*4
fmli_full['Medical_Supplies'] = fmli_full.apply(processMedicalSupplies, axis=1)

def processPrescriptionDrugs(row):
    if row.PREDRGCQ >0:
        return row.PREDRGCQ*4
    else:
        return row.PREDRGPQ*4
fmli_full['Prescription_Drugs'] = fmli_full.apply(processPrescriptionDrugs, axis=1)
            
def processPensionSS(row):
    if row.RETPENCQ >0:
        return row.RETPENCQ*4
    else:
        return row.RETPENPQ*4
    
fmli_full['Pensions_and_Social_Security'] = fmli_full.apply(processPensionSS, axis=1)

def processFoodAtHome(row):
    if row.FDHOMECQ >0:
        return row.FDHOMECQ*4
    else:
        return row.FDHOMEPQ*4
    
fmli_full['Food_At_Home'] = fmli_full.apply(processFoodAtHome, axis=1)

def processFoodAwayFromHome(row):
    if row.FDAWAYCQ >0:
        return row.FDAWAYCQ*4
    else:
        return row.FDAWAYPQ*4
    
fmli_full['Food_Away_From_Home'] = fmli_full.apply(processFoodAwayFromHome, axis=1)

In [29]:
def processApparelServices(row):
    if row.APPARCQ >0:
        return row.APPARCQ*4
    else:
        return row.APPARPQ*4
    
fmli_full['Apparel_and_services'] = fmli_full.apply(processApparelServices, axis=1)        


def processPersonalCare(row):
    if row.PERSCACQ >0:
        return row.PERSCACQ*4
    else:
        return row.PERSCAPQ*4
    
fmli_full['Personal_Care'] = fmli_full.apply(processPersonalCare, axis=1)        
            
def processEducation(row):
    if row.EDUCACQ >0:
        return row.EDUCACQ*4
    else:
        return row.EDUCAPQ*4
    
fmli_full['Education'] = fmli_full.apply(processEducation, axis=1)            
            
def processCashContributions(row):
    if row.CASHCOCQ >0:
        return row.CASHCOCQ*4
    else:
        return row.CASHCOPQ*4
    
fmli_full['Cash_Contributions'] = fmli_full.apply(processCashContributions, axis=1)
            
            
            
def processMiscellaneous(row):
    if row.MISCCQ >0:
        return row.MISCCQ*4
    else:
        return row.MISCPQ*4
    
fmli_full['Miscellaneous'] = fmli_full.apply(processMiscellaneous, axis=1)
            
def processEntertainment(row):
    if row.ENTERTCQ >0:
        return row.ENTERTCQ*4
    else:
        return row.ENTERTPQ*4
    
fmli_full['Entertainment'] = fmli_full.apply(processEntertainment, axis=1)

            
def processTravel(row):
    if row.TTOTALC >0:
        return row.TTOTALC*4
    else:
        return row.TTOTALP*4
    
fmli_full['Travel'] = fmli_full.apply(processTravel, axis=1)

In [ ]:
   ,( (CASE WHEN LENGTH(TRIM(INTRDVX)) > 0 THEN DECFLOAT(TRIM(INTRDVX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(INTRDVBX)) > 0 THEN DECFLOAT(TRIM(INTRDVBX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(ROYESTX)) > 0 THEN DECFLOAT(TRIM(ROYESTX)) ELSE 0.0 END)
                + (CASE WHEN LENGTH(TRIM(ROYESTBX)) > 0 THEN DECFLOAT(TRIM(ROYESTBX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(OTHREGX)) > 0 THEN DECFLOAT(TRIM(OTHREGX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(OTHREGBX)) > 0 THEN DECFLOAT(TRIM(OTHREGBX)) ELSE 0.0 END)
                + (CASE WHEN LENGTH(TRIM(WELFAREX)) > 0 THEN DECFLOAT(TRIM(WELFAREX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(WELFREBX)) > 0 THEN DECFLOAT(TRIM(WELFREBX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(RETSURVX)) > 0 THEN DECFLOAT(TRIM(RETSURVX)) ELSE 0.0 END)
                + (CASE WHEN LENGTH(TRIM(RETSRVBX)) > 0 THEN DECFLOAT(TRIM(RETSRVBX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(NETRENTX)) > 0 THEN DECFLOAT(TRIM(NETRENTX)) ELSE 0.0 END) + (CASE WHEN LENGTH(TRIM(NETRNTBX)) > 0 THEN DECFLOAT(TRIM(NETRNTBX)) ELSE 0.0 END)
                + (CASE WHEN LENGTH(TRIM(OTHRINCX)) > 0 THEN DECFLOAT(TRIM(OTHRINCX)) ELSE 0.0 END) ) AS FMLI_HH_Total_Income

In [32]:
fmli_full['INTRDVX'].unique()

array([        nan, 1.00000e+00, 5.00000e+01, 1.51200e+03, 5.00000e+00,
       2.50000e+01, 2.00000e+02, 1.30000e+03, 1.00000e+01, 2.00000e+01,
       1.00000e+02, 8.00000e+02, 2.70000e+01, 3.10000e+03, 4.00000e+04,
       3.00000e+00, 1.50000e+03, 7.50000e+02, 5.00000e+02, 3.60000e+02,
       1.00000e+03, 1.50000e+01, 3.30000e+01, 8.20000e+03, 1.01417e+05,
       2.00000e+00, 1.00000e+04, 9.00000e+03, 3.00000e+01, 4.00000e+00,
       1.75000e+02, 2.00000e+03, 9.90000e+02, 1.25000e+02, 3.20000e+02,
       1.20000e+03, 7.40000e+03, 4.00000e+02, 9.13900e+03, 3.00000e+04,
       1.60000e+03, 2.20000e+02, 4.19000e+02, 1.60000e+01, 1.40000e+04,
       1.20000e+02, 3.00000e+02, 9.20000e+01, 5.10000e+02, 1.02000e+03,
       8.00000e+01, 5.00000e+03, 4.68000e+02, 2.50000e+02, 4.50000e+01,
       1.20000e+01, 3.70000e+01, 6.51000e+02, 1.20000e+04, 1.04200e+03,
       1.98800e+03, 2.31000e+02, 7.50000e+03, 1.50000e+02, 2.09700e+03,
       1.50000e+04, 3.06000e+03, 1.69300e+03, 1.73600e+03, 3.10000e+02,
       1.02200e+03, 6.48000e+02, 3.50000e+01, 3.55000e+04, 2.86000e+03,
       3.00000e+03, 4.00000e+03, 1.83000e+02, 5.61000e+02, 3.50000e+04,
       8.50000e+02, 3.91000e+02, 1.05000e+03, 6.00000e+01, 1.44000e+02,
       1.10000e+04, 6.40000e+01, 2.60000e+01, 1.09000e+02, 4.50000e+02,
       1.04000e+02, 1.75700e+03, 8.40000e+03, 6.00000e+03, 3.50000e+03,
       1.19000e+02, 1.65000e+02, 6.00000e+02, 9.00000e+01, 2.30000e+01,
       1.30000e+02, 4.45600e+03, 8.72400e+03, 1.63500e+03, 4.10000e+03,
       4.97000e+02, 2.40000e+02, 2.40000e+01, 7.00000e+02, 2.88000e+02,
       3.20000e+04, 3.90000e+01, 8.90000e+01, 7.00000e+03, 4.00000e+01,
       1.25000e+03, 1.05000e+02, 2.00000e+04, 9.00000e+02, 6.00000e+00,
       6.80000e+01, 7.10000e+01, 1.80000e+04, 6.14600e+03, 8.00000e+03,
       4.50000e+03, 2.40000e+03, 7.07000e+02, 1.42000e+02, 3.08000e+02,
       3.60000e+01, 1.80000e+02, 1.10000e+01, 2.50000e+03, 1.80000e+03,
       3.60000e+03, 5.40000e+03, 9.32000e+02, 9.10000e+01, 3.63000e+02,
       1.40000e+01, 5.20000e+01, 8.00000e+00, 2.52000e+04, 4.60000e+01,
       2.74000e+02, 5.80000e+02, 6.90000e+01, 1.79000e+02, 1.43000e+02,
       3.05000e+02, 1.10000e+03, 1.56000e+04, 2.42500e+03, 1.57000e+02,
       3.60000e+04, 7.40000e+01, 2.86900e+03, 7.20000e+01, 9.57600e+03,
       8.60000e+02, 1.32800e+03, 1.79900e+03, 3.35400e+03, 1.60000e+02,
       1.32000e+02, 6.50000e+01, 5.70000e+01, 5.60000e+03, 2.04400e+03,
       2.88140e+04, 2.30000e+03, 2.65300e+03, 8.96000e+02, 1.30000e+01,
       3.50000e+02, 5.40000e+01, 1.98000e+02, 1.86600e+04, 1.70000e+04,
       1.70000e+03, 4.90000e+02, 9.00000e+00, 9.50000e+01, 2.40000e+04,
       2.06000e+02, 3.87000e+02, 4.90000e+03, 1.76000e+02, 2.67000e+02,
       1.70000e+01, 7.50000e+01, 2.00700e+03, 3.90000e+04, 7.00000e+00,
       3.36000e+02, 1.40000e+02, 4.05700e+03, 6.60000e+01, 3.56860e+04,
       8.60000e+01, 1.30000e+04, 5.20000e+02, 2.71000e+03, 1.48000e+04,
       7.08000e+03, 7.60000e+02, 3.26480e+04, 1.40000e+03, 1.90000e+03,
       2.80000e+01, 5.30000e+01, 5.50000e+03, 8.20000e+01, 3.46000e+02,
       3.41000e+02, 2.33800e+03, 4.75000e+02, 4.80000e+02, 4.65000e+02,
       4.40000e+01, 9.23000e+02, 6.29100e+03, 1.01800e+03, 2.04000e+03,
       3.20000e+01, 3.55500e+03, 1.22800e+03, 1.00750e+04, 3.94300e+03,
       2.12000e+03, 2.15000e+02, 5.77800e+03, 1.14000e+02, 7.70000e+01,
       2.20000e+03, 3.55000e+02, 1.01000e+02, 6.53000e+02, 7.60000e+01,
       2.28000e+02, 9.50000e+02, 1.39310e+04, 1.90000e+01, 9.60000e+02,
       7.00000e+01, 1.13700e+03, 2.22000e+02, 2.40200e+03, 1.31000e+03,
       8.04000e+02, 2.53000e+04, 2.70000e+03, 6.50000e+03, 6.14000e+02,
       1.80000e+01, 6.70000e+01, 3.24000e+03, 6.20000e+02, 2.00350e+04,
       2.80000e+03, 2.14630e+04, 2.90000e+01, 3.25000e+03, 4.95000e+02,
       3.85000e+03, 1.65000e+03, 3.76000e+02, 2.20000e+04, 1.15000e+02,
       1.44000e+03, 6.52500e+03, 8.81000e+02, 1.70400e+03, 6.75000e+02,
       2.37000e+02, 4.20000e+01, 8.70000e+01, 1.71000e+04, 1.27000e+03,
       4.80000e+03, 3.41300e+04, 2.10000e+04, 8.50000e+03, 2.98000e+02,
       2.45000e+02, 2.04000e+02, 2.80000e+02, 2.50000e+04, 1.04000e+03,
       1.10000e+02, 3.03600e+03, 2.66000e+02, 3.84000e+04, 2.05000e+03,
       9.42000e+02, 4.20000e+03, 4.75000e+03, 1.06600e+03, 2.02000e+03,
       6.65000e+03, 2.25000e+02, 2.64000e+04, 7.90000e+01, 6.40000e+02,
       2.45000e+03, 6.78000e+02, 5.50000e+01, 9.42900e+03, 3.14890e+04,
       2.54000e+02, 9.80000e+01, 2.85000e+02, 3.10000e+01, 7.26200e+03,
       3.95000e+02, 4.76400e+03, 3.84000e+03, 1.16000e+02, 1.33500e+03,
       3.80000e+01, 5.40000e+02, 2.10000e+01, 3.87300e+03, 3.66000e+02,
       1.81000e+02, 6.15000e+02, 2.90100e+03, 1.74800e+03, 3.64400e+03,
       1.56700e+03, 2.20000e+01, 7.21000e+02, 5.50000e+02, 5.75000e+02,
       4.90000e+01, 7.20000e+02, 1.88400e+03, 1.35000e+04, 1.70000e+02,
       1.90000e+02, 5.58000e+02, 4.59600e+03, 1.65300e+03, 2.79200e+03,
       6.25000e+03, 1.22520e+04, 3.40300e+03, 2.60000e+03, 4.80000e+01,
       7.62000e+02, 2.23000e+02, 6.30000e+03, 9.60000e+03, 5.91700e+03,
       3.70000e+02, 4.70000e+02, 1.30600e+03, 7.52000e+02, 5.52000e+03,
       1.73100e+03, 5.70000e+03, 3.30000e+03, 1.04000e+04, 1.35000e+02,
       3.30000e+02, 8.80000e+01, 1.20480e+04, 4.52000e+02, 1.60000e+04,
       4.22300e+03, 5.10000e+01, 3.34800e+03, 5.19600e+03, 1.26000e+02,
       2.10000e+03, 2.42000e+02, 1.78320e+04, 1.96000e+02, 2.60000e+04,
       8.16500e+03, 2.59200e+03])